<form action="/books" method="post">
    <label for="author">author</lable>
    <input type="text" name="author" value="">
    <label for="title">Title</lable>
    <input type="text" name="title" value="">
    <label for="snippet">snippet</lable>
    <input type="text" name="snippet" value="">

    <input type="submit" value="Create Book">
</form>